/* Reset default browser styles */
body,

main h2{
  font-family:'Playfair Display', serif
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px ;
}

nav ul {
  display: flex;
}

nav ul li {
  position: relative;
  margin-right: 20px;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 150px;
  z-index: 1;
}

.dropdown-content li {
  border-bottom: 1px solid #666;
}

.dropdown-content li:last-child {
  border-bottom: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.album-link {
  text-decoration: none;
  color: inherit; 
}

.album-link:hover .album {
  border-color: #999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.albums, .specific-album {
  text-align: center;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.album {
  border: 1px solid #ccc;
  padding: 10px;
}

.album h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.album img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 5px;
}

.album h3 {
  margin: 10px 0;
  font-size: 18px;
}

.album p {
  font-size: 14px;
  color: #666;
}

